
   
   
   <!--====== CONTACT PART START ======-->
    
   <section id="contact-page" class="pt-90 pb-120 gray-bg">
	<div class="container">
		<div class="row">
		     <div class="col-lg-5 overlay">
				 <h5>Enter your new password !</h5>
				 <!-- left blue panel-->
			 </div>
			 <div class="col-lg-7">
				 <div class="company-login mt-30">
					<div class="section-title">
						<h3>Reset password</h3>
					</div> <!-- section title -->
					<div class="main-form pt-45">
						<form id="company-form" #f="ngForm" [formGroup]="Form" autocomplete="off" novalidate>
							<div class="row">
								
								<div class="col-md-12">
									<div class="singel-form ">
										<mat-form-field class="full-width">
											<input matInput formControlName="password" [type]="hide ? 'password' : 'text'"  placeholder="password" >
											<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
											<mat-error *ngIf="Form.hasError('required', 'password') "> field pass is obligatory</mat-error> 
											<span class="span-error" *ngIf="match()===false && !Form.hasError('required', 'password') ;">Password should be atleast 8 characters long
												and should contain one number,one character and one special
												character
											  </span>
										
										</mat-form-field>
									 
									</div> <!-- singel form -->
								</div>

								<div class="col-md-12">
									<div class="singel-form ">
										<mat-form-field class="full-width">
											<input matInput formControlName="Repassword" [type]="hideC ? 'password' : 'text'"  placeholder="Confirm password" [errorStateMatcher]="matcher"  >
											<mat-icon matSuffix (click)="hideC = !hideC">{{hideC ? 'visibility_off' : 'visibility'}}</mat-icon>
											<mat-error  *ngIf="!Form.hasError('required', 'Repassword') && Form.hasError('notSame')" >password is not matching</mat-error> 
											<mat-error  *ngIf="Form.hasError('required', 'Repassword')" >Field is empty</mat-error> 
										  </mat-form-field>
									 
									</div> <!-- singel form -->
								</div>


								<p class="form-message"></p>
								<div class="col-md-12">
								
									<div class="singel-form">
										<button mat-button class="main-btn"  *ngIf="Form.valid"  (click)="onSubmit()" >Done</button>
										<button mat-button class="invalid-btn"  *ngIf="!Form.valid"   >Done</button>
									</div> <!-- singel form -->
								</div> 
							</div> <!-- row -->
						</form>
					</div> <!-- main form -->
				</div> <!--  contact from -->
			</div>
			
		</div> <!-- row -->
	</div> <!-- container -->
</section>

<!--====== CONTACT PART ENDS ======-->