<div class="section-title mt-50">
    <h3>Candidats comparison</h3>
   </div> <!-- section title -->  


  

<!--
  
<mat-list class="app-list">
  <mat-list-item *ngFor="let app of candidateApps " (click)="onSelectionChange(app)" > {{app.applicationDate}} </mat-list-item>
 </mat-list>
-->



<div class="row">
  <div class="col-lg-3 col-md-11 col-sm-10 left-side">
    <div class="search-bar col-lg-12 ">
      <mat-form-field >
         <input matInput  (input)="doFilter(search.value)" type="text" [formControl]="search" placeholder="Search">
         <button matSuffix  mat-icon-button><mat-icon>search</mat-icon></button>
      </mat-form-field>
    </div>

    <div>
   <mat-selection-list #selectionList class="app-list" multiple *ngIf="candidateApps">
     <span class="top-title"><b>Result  : {{candidateApps.length}} applications</b> </span>
     <mat-divider></mat-divider>
     <mat-checkbox (change)="checkSelection($event,app)" [checked]="false" [disabled]="disableCheckbox2(app.idCandidateApp)"
      *ngFor="let app of dataSource.data ">
     <mat-card class="item" >
        <mat-card-title *ngIf="app.user"><h6>{{app.user.displayName}}</h6></mat-card-title>
        <mat-card-subtitle>#id | {{app.idCandidateApp}}</mat-card-subtitle>
        <span *ngIf='app.currentState' ><b>Status :</b> {{app.currentState.label}}</span>
        <br>
        <span><b>Submitted on  :</b> {{app.applicationDate | date:'yyyy-MM-dd' }}</span>
        <br>
        <span *ngIf='app.job'><b>Job offer :</b> {{app.job.title}}</span>
    </mat-card>
</mat-checkbox>
  </mat-selection-list>
</div>
</div>

<!--
<div class="col-lg-8 center-side">
    <span class="msg" *ngIf="mySelections.length==0">Please select two candidates to compare</span>
    <div class="row" *ngIf="mySelections">
    <div class="col-lg-6 side"  *ngFor="let currentApp of mySelections">
      <div class="col-lg-3 col-md-2 avatar">
        <img src="../../../../assets/CourzeloBusiness/images/avatar.png" width="80" height="90">
      </div>
      <div class="col-lg-3 col-md-5 info-personel">
        <h6  *ngIf="currentApp.user">{{currentApp.user.displayName}}</h6>
        #id | {{currentApp.idCandidateApp}}<br>
        <span *ngIf='currentApp.currentState' ><b>Status :</b> {{currentApp.currentState.label}}</span>
        <br>
        <span><b>Submitted on  :</b> {{currentApp.applicationDate | date:'yyyy-MM-dd' }}</span>
        <br>
        <span><b>Job Offer  :</b> {{currentApp.job.title }}</span>

      </div>

      <div class="col-lg-5 col-md-5 info-personel2">
        <mat-card><b>Status</b></mat-card>
        <span *ngIf='currentApp.currentState' ><b>Status :</b> {{currentApp.currentState.label}}</span>
        <br>
        <span *ngIf='currentApp.currentState' ><b>Date :</b> {{currentApp.currentState.stateDate | date:'yyyy-MM-dd' }}</span>
        <br>
        <span *ngIf='currentApp.currentState.label=="pending" && currentApp.job.idPrehiringTest!=""' ><b>Prehiring test score:</b> {{currentApp.currentState.score}} %</span>
        <br>
    

        <span class="msg" *ngIf="currentApp.currentState.label=='Job rquest refused'"> Waiting for candidate to receive you job request</span>
        <span class="msg" *ngIf="currentApp.currentState.label=='pre-selected'"> The job request has been declined by the candidate that you have selected</span>
      </div>

      <div class="tabs">
        <mat-tab-group mat-align-tabs="center">
          <mat-tab label="Profile overview"> 
            <div class="profile-info">
            <span><b>Full name : </b></span> {{currentApp.user.displayName}} 
            <br>
            <span><b>Email address : </b></span> {{currentApp.user.email}}
            <br>
          </div>
  

            <div class="radar">
              <canvas baseChart
                    [datasets]="radarChartData"
                    [options]="radarChartOptions"
                    [labels]="radarChartLabels"
                    [type]="radarChartType">
              </canvas>
            </div>

          </mat-tab>
          <mat-tab label="Resume"> 
            <div *ngIf="fileUrl && currentApp.cv">
              <pdf-viewer [src]="fileUrl" [zoom]="1"  [show-all]="true" [original-size]="false" style="width: full; height: 500px;overflow-x: hidden;"
             ></pdf-viewer>
            </div> 
            
  
            <div class="spinner" *ngIf="!fileUrl && currentApp.cv">
              <span>Wait ... Loading</span>
              <mat-spinner></mat-spinner>
            </div>


            <div class="not-found" *ngIf="!currentApp.cv">
              <span>No cv is found for this candidate</span>
              
            </div>
            
          </mat-tab>
          <mat-tab label="Application History"> 
        
            <mat-stepper orientation="vertical"  #stepper class="steps">
              <div *ngFor="let state of currentApp.candidateState" >
              <mat-step label="Step{{state.step}}"  >
                  <span  ><b>Status :</b> {{state.label}}</span>
                  <br>
                  <span ><b>Date :</b> {{state.stateDate | date:'yyyy-MM-dd' }}</span>
                  <br>
                  <span *ngIf="state.label=='interview'" ><b>interview date :</b> {{state.interviewDate| date:'yyyy-MM-dd' }}</span>
                  <br>
              </mat-step>
            </div>
            </mat-stepper>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
    </div>


</div>
</div>

-->

<div class="col-lg-4 panelList">
  <span class="msg" *ngIf="mySelections.length==0">Please select candidates to compare</span>
  <div class="row" *ngIf="mySelections">
  <div class="col-lg-12 "  *ngFor="let currentApp of mySelections">
    <mat-accordion>
     
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{currentApp.user.displayName}}
          </mat-panel-title>
          <mat-panel-description>
            id | {{currentApp.idCandidateApp}}
          </mat-panel-description>
        </mat-expansion-panel-header> <!--Candidate details-->

        <div class="col-lg-3 col-md-5 ">
          <br>
          <span *ngIf='currentApp.currentState' ><b>Status :</b> {{currentApp.currentState.label}}</span>
          <br>
          <span><b>Submitted on  :</b> {{currentApp.applicationDate | date:'yyyy-MM-dd' }}</span>
          <br>
          <span><b>Job Offer  :</b> {{currentApp.job.title }}</span>
          <br>
          <span><b>Email address : </b> {{currentApp.user.email}}</span>
        </div>

      </mat-expansion-panel>
    </mat-accordion>

  </div>
  </div>
</div>

<div class="radar col-lg-4" *ngIf="mySelections.length!=0">
  <canvas baseChart
        [datasets]="radarChartData"
        [options]="radarChartOptions"
        [labels]="radarChartLabels"
        [type]="radarChartType">
  </canvas>
</div>