<div class="container bootstrap snippets bootdey" *ngIf="user?.company==null">
  <div class="row">
    <div class="profile-nav col-md-3">
      <div class="panel">
        <div class="user-heading round">
          <a >
            <img src="{{ user?.logo }}" alt="" />
          </a>
          <h1>{{ user?.firstName }} {{ user?.lastName }}</h1>
          <p>{{ user?.email }}</p>
        </div>

        <ul class="nav nav-pills nav-stacked">
          <li [ngClass]="{ active: !hide }">
            <a (click)="setVisible()"> <i class="fa fa-user"></i> Profile</a>
          </li>
          
          <li [ngClass]="{ active: hide }">
            <a (click)="setVisible()"> <i class="fa fa-edit"></i> Edit profile</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="profile-info col-md-9">
      <div class="panel">
        <div class="panel-body bio-graph-info" *ngIf="!hide">
          <div class="section-title mb-5">
            <h3>Account informations</h3>
          </div>
          <div class="row">
            <div class="bio-row">
              <p>
                <span>Company Name : </span> {{ user?.companyName }}
              </p>
            </div>
            <div class="bio-row">
              <p><span>Industry : </span> {{ user?.industry }}</p>
            </div>
            <div class="bio-row">
              <p><span>Recruitment role : </span> {{ user?.recrutementRole }}</p>
            </div>
            <div class="bio-row">
              <p><span> Number of employees :</span> {{ user?.nbEmployee }}</p>
            </div>
            <div class="bio-row">
              <p><span>Country : </span> {{ user?.country }}</p>
            </div>
            <div class="bio-row">
              <p><span>Address :</span> {{ user?.address }}</p>
            </div>

            <div class="bio-row">
              <p><span> Web Site :</span> {{ user?.website }}</p>
            </div>
            <div class="bio-row">
              <p><span>Phone : </span> {{ user?.phone }}</p>
            </div>
          </div>
        </div>
        <div *ngIf="!hide">
          <div class="row">
              <div class="col-md-6" *ngFor="let sub of subAccounts">
                  <div class="second-panel">
                      <div class="panel-body">
                         
                          <div class="bio-desk">
                              <h4 class="red">{{sub?.firstName}} {{sub?.lastName}}</h4>
                              <p>Email:  {{sub?.email}}</p>
                              <p>Phone: {{sub?.phone}}</p>
                              <div class="all-btn">
                              <button
                              class="upd-btn"
                              mat-icon-button
                              (click)="Update(sub); $event.stopPropagation()"
                            >
                              <mat-icon>edit</mat-icon>
                            </button>
                            <button
                              class="del-btn"
                              mat-icon-button
                              (click)="
                                DeleteAccount(sub.idBusiness);
                                $event.stopPropagation()
                              "
                            >
                            
                              <mat-icon>delete_forever</mat-icon>
                            </button>
                          </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

        <div class="panel-body bio-graph-info" *ngIf="hide">
          <div class="section-title mb-5">
            <h3>Edit account informations</h3>
          </div>
          <div class="row">
            <div class="main-form pt-45">
                      <form id="first-form" #f="ngForm" [formGroup]="firstForm" autocomplete="off" novalidate>
                          <div class="row mb-4">
                              <div class="col-md-4">
                                  <div class="singel-form">
                                       <mat-form-field >
                                        <input matInput  formControlName="companyName" type="text" placeholder="Company name"  (keyup)="ExistCompany(this.firstForm.get('companyName')?.value)" >
                                       <mat-error >Company name field is obligatory</mat-error> 
                                       <span class="email-error" *ngIf="verifName==true" >Company already exist</span> 
                                       </mat-form-field>
                                  </div> <!-- singel form -->
                              </div>
                              <div class="col-md-4">
                                  <div class="singel-form">
                                       <mat-form-field >
                                        <input matInput  formControlName="website" type="text" placeholder="Company website"   > 
                                        </mat-form-field>
                                  </div> <!-- singel form -->
                              </div>
                              <div class="col-md-4">
                                  <div class="singel-form">
                                       <mat-form-field >
                                        <mat-select  formControlName="nbEmployees"  placeholder="Number of employees" >
                                          <mat-option value="1-49"> 1-49 </mat-option>
                                          <mat-option value="50-149"> 50-149 </mat-option>
                                          <mat-option value="150-249"> 150-249 </mat-option>
                                          <mat-option value="150-249"> 250-499 </mat-option>
                                          <mat-option value="500+"> 500+ </mat-option>
                                      </mat-select>
                                       <mat-error >  field is obligatory</mat-error> 
                                        </mat-form-field>
                                  </div> <!-- singel form -->
                              </div>
                          </div> 
                          <div class="row mb-4">

                              <div class="col-md-4">
                                  <div class="singel-form ">
                                      <mat-form-field >
                                          <input matInput formControlName="firstName"  placeholder="First Name" >
                                         <mat-error > field is obligatory</mat-error> 
                                        </mat-form-field>
                                  </div> <!-- singel form -->
                              </div>
                              <div class="col-md-4">
                                  <div class="singel-form ">
                                      <mat-form-field >
                                          <input matInput formControlName="lastName"  placeholder="Last Name" >
                                        <mat-error> field is obligatory</mat-error> 
                                       </mat-form-field>
                                  </div> <!-- singel form -->
                              </div>
                              <div class="col-md-4">
                                  <div class="singel-form ">
                                      <mat-form-field >
                                          <input matInput formControlName="email" type="email" placeholder="Work email address" (keyup)="ExistMail(this.firstForm.get('email')?.value)">
                                        <mat-error >email field is obligatory</mat-error> 
                                        <span class="email-error" *ngIf="verifMail==true" >email already exist</span> 
                                       </mat-form-field>
                                   
                                  </div> <!-- singel form -->
                              </div>
                            </div> 
                            <div class="row mb-4">
                              <div class="col-md-4">
                                  <div class="singel-form">
                                      <mat-form-field >
                                        <mat-select  formControlName="role" placeholder="Role in the hiring process"  >
                                          <mat-option value="Recruitment specialist"> Recruitment specialist </mat-option>
                                          <mat-option value="HR manager"> HR manager </mat-option>
                                          <mat-option value="Owner or CEO"> Owner or CEO </mat-option>
                                          <mat-option value="Office Manager"> Office Manager </mat-option>
                                      </mat-select>
                                      <mat-error >field is obligatory</mat-error> 
                                      </mat-form-field>
                                  </div> <!-- singel form -->
                              </div>
                              <div class="col-md-4">
                                  <div class="singel-form">
                                      <mat-form-field >
                                        <input matInput  formControlName="phone" type="text" placeholder="phone"   > 
                                        </mat-form-field>
                                  </div> <!-- singel form -->
                              </div>
                              <div class="col-md-4">
                                  <div class="singel-form ">
                                      <mat-form-field >
                                        
                                          <mat-select placeholder="industry " formControlName="industry"    >
                                              <mat-option  value="Science and technology"> Science and technology</mat-option>
                                              <mat-option  value="Architecture and engineering"> Architecture and engineering </mat-option>
                                              <mat-option  value="Arts, culture and entertainment"> Arts, culture and entertainment </mat-option>
                                              <mat-option  value="Business, management and administration">  Business, management and administration </mat-option>
                                              <mat-option  value="Education & training"> Education & training </mat-option>
                                              <mat-option  value=" Communications">  Communications </mat-option>
                                              <mat-option  value="Community and social services"> Community and social services </mat-option>
                                              <mat-option  value=" Farming, fishing and forestry">   Farming, fishing and forestry </mat-option>
                                              <mat-option  value=" Health and medicine">  Health and medicine </mat-option>
                                              <mat-option  value=" Law and public policy">  Law and public policy </mat-option>
                                              <mat-option  value=" Sales">  Sales </mat-option>
                                              

                                          </mat-select>
                                        <mat-error > field is obligatory</mat-error> 
                                      </mat-form-field>
                                  
                                  </div> <!-- singel form -->
                              </div>
                            </div>
                          <div class="row ">
                            <div class="col-md-4">
                                <div class="singel-form">
                                     <mat-form-field >
                                        <mat-select placeholder="Country " formControlName="country"    >
                                            <mat-option  *ngFor="let country of countries" value="{{country.name}}"> {{country.name}} </mat-option>
                                        </mat-select>
                                     <mat-error >  field is obligatory</mat-error> 
                                      </mat-form-field>
                                </div> 
                            </div>
                            <div class="col-md-4">
                                <div class="singel-form">
                                     <mat-form-field >
                                        <input matInput  formControlName="physicalAddress" type="text" placeholder="physical Address"   > 
                                     <mat-error >  field is obligatory</mat-error> 
                                      </mat-form-field>
                                </div> <!-- singel form -->
                            </div>
                          </div>
                            
                           
                          <div class="row mb-4">
                            <div class="col-md-12">
                                <div class="input-bar">
                                    <mat-form-field >
                                        <textarea matInput formControlName="description"  placeholder="description" ></textarea>
                                      <mat-error> field is obligatory</mat-error> 
                                     </mat-form-field>
                                </div> <!-- singel form -->
                            </div>
                           </div> 

                           <div class="row mb-5">
                            <div class="col-md-6">
                              <div class="singel-form ">
                                  <mat-form-field>
                                      <input matInput formControlName="password" type="password" placeholder="password"  >

                                      </mat-form-field>
                               
                              </div> <!-- singel form -->
                          </div>
                          <div class="col-md-6">
                              <div class="singel-form ">
                                  <mat-form-field >
                                      <input matInput formControlName="confirmPassword" type="password" placeholder="confirm password" [errorStateMatcher]="matcher" >
                                    <mat-error  *ngIf="!firstForm.hasError('notSame')" >password is not matching</mat-error> 
                                   </mat-form-field>
                              
                              </div> <!-- singel form -->
                          </div>
                          </div>
                          <div class="row mb-4 mt-4">
                              <div class="scd-action-btn col-md-12">
                                <button mat-button  class="main-btn" (click)="Send()">Done</button>
                               

                          </div> <!-- row -->
                          </div>
                      </form>
                      
              
          </div> <!-- main form -->
     
          </div>
        </div>

     

      </div>

   


    </div>
  </div>
</div>

<div class="container bootstrap snippets bootdey" *ngIf="user?.company!=null">
  <div class="row">
    <div class="profile-nav col-md-3">
      <div class="panel">
        <div class="user-heading round">
          <a href="#">
            <img src="{{ user?.company?.logo }}" alt="" />
          </a>
          <h1>{{ user?.firstName }} {{ user?.lastName }}</h1>
          <p>{{ user?.email }}</p>
        </div>

        <ul class="nav nav-pills nav-stacked">
          <li [ngClass]="{ active: !hide }">
            <a (click)="setVisible()"> <i class="fa fa-user"></i> Profile</a>
          </li>
          
          <li [ngClass]="{ active: hide }">
            <a (click)="setVisible()"> <i class="fa fa-edit"></i> Edit profile</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="profile-info col-md-9">
      <div class="panel">
        <div class="panel-body bio-graph-info" *ngIf="!hide">
          <div class="section-title mb-5">
            <h3>Account informations</h3>
          </div>
          <div class="row">
            <div class="bio-row">
              <p>
                <span>Company Name : </span> {{ user?.company.companyName }}
              </p>
            </div>
            <div class="bio-row">
              <p><span>Industry : </span> {{ user?.company.industry }}</p>
            </div>
            <div class="bio-row">
              <p><span>Recruitment role : </span> {{ user?.company.recrutementRole }}</p>
            </div>
            <div class="bio-row">
              <p><span> Number of employees :</span> {{ user?.company.nbEmployee }}</p>
            </div>
            <div class="bio-row">
              <p><span>Country : </span> {{ user?.company.country }}</p>
            </div>
            <div class="bio-row">
              <p><span>Address :</span> {{ user?.company.address }}</p>
            </div>

            <div class="bio-row">
              <p><span> Web Site :</span> {{ user?.company.website }}</p>
            </div>
            <div class="bio-row">
              <p><span>Phone : </span> {{ user?.phone }}</p>
            </div>
          </div>
        </div>
        <div class="panel-body bio-graph-info" *ngIf="hide">
          <div class="section-title mb-5">
            <h3>Edit account informations</h3>
          </div>
          <div class="">
            <div class="main-form pt-45">
                      <form id="first-form" class="subAccountForm" #f="ngForm" [formGroup]="firstForm" autocomplete="off" novalidate>
                     <div class="row mb-4">

                              <div class="col-md-6">
                                  <div class="singel-form ">
                                      <mat-form-field >
                                          <input matInput formControlName="firstName"  placeholder="First Name" >
                                         <mat-error > field is obligatory</mat-error> 
                                        </mat-form-field>
                                  </div> <!-- singel form -->
                              </div>
                              <div class="col-md-6">
                                  <div class="singel-form ">
                                      <mat-form-field >
                                          <input matInput formControlName="lastName"  placeholder="Last Name" >
                                        <mat-error> field is obligatory</mat-error> 
                                       </mat-form-field>
                                  </div> <!-- singel form -->
                              </div>
                             
                            </div> 
                            <div class="row mb-4">
                              <div class="col-md-6">
                                <div class="singel-form ">
                                    <mat-form-field >
                                        <input matInput formControlName="email" type="email" placeholder="Work email address" (keyup)="ExistMail(this.firstForm.get('email')?.value)">
                                      <mat-error >email field is obligatory</mat-error> 
                                      <span class="email-error" *ngIf="verifMail==true" >email already exist</span> 
                                     </mat-form-field>
                                 
                                </div> <!-- singel form -->
                            </div>
                              <div class="col-md-6">
                                  <div class="singel-form">
                                      <mat-form-field >
                                        <input matInput  formControlName="phone" type="text" placeholder="phone"   > 
                                        </mat-form-field>
                                  </div> <!-- singel form -->
                              </div>
                              
                            </div>
                    
                          

                           <div class="row mb-5">
                            <div class="col-md-6">
                              <div class="singel-form ">
                                  <mat-form-field>
                                      <input matInput formControlName="password" type="password" placeholder="password"  >

                                      </mat-form-field>
                               
                              </div> <!-- singel form -->
                          </div>
                          <div class="col-md-6">
                              <div class="singel-form ">
                                  <mat-form-field >
                                      <input matInput formControlName="confirmPassword" type="password" placeholder="confirm password" [errorStateMatcher]="matcher" >
                                    <mat-error  *ngIf="!firstForm.hasError('notSame')" >password is not matching</mat-error> 
                                   </mat-form-field>
                              
                              </div> <!-- singel form -->
                          </div>
                          </div>
                          <div class="row mb-4 mt-4">
                              <div class="scd-action-btn col-md-12">
                                <button mat-button  class="main-btn" (click)="Send()">Done</button>
                               

                          </div> <!-- row -->
                          </div>
                      </form>
                      
              
          </div> <!-- main form -->
     
          </div>
        </div>

     

      </div>

      <div>
        
    </div>


    </div>
  </div>
</div>
